.OTPModal {
  .ant-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .description {
    margin-bottom: 20px;
    .phone-number {
      color: var(--atlas-500);
    }
  }
  .note {
    margin-top: 20px;
    font-size: 12px;
    color: var(--muted);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .resend-button {
      color: var(--atlas-500);
      cursor: pointer;
      &:hover {
        color: var(--atlas-500) !important;
      }
    }
  }
}
