.Home {
  height: 100vh;
  padding: 20px 320px;

  .header-container {
    height: 20%;
    top: 0;
    z-index: 1000;
    background-color: var(--background-paper);
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
    }
    .logo {
      height: 40px;
      width: auto;
      object-fit: contain;
      cursor: pointer;
    }
    .actions {
      display: flex;
      align-items: center;
      gap: 16px;
    }
    .welcome-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      .welcome-message {
        font-size: 24px;
        font-weight: 600;
      }
    }
  }

  .onboarding-tabs {
    margin-top: 12px;
    .ant-tabs-tab-active {
      .ant-tabs-tab-btn {
        color: #ff6933;
      }
    }
    .ant-tabs-ink-bar {
      background-color: #ff6933;
    }
    .ant-tabs-tab {
      &:hover {
        color: #ff6933;
      }
    }
    .ant-tabs-tab-disabled {
      &:hover {
        color: rgba(0, 0, 0, 0.25);
      }
    }
  }
  
  .save-btn {
    background-color: #ff6933;
    border-color: #ff6933;
    color: #ffffff;
    &:hover,
    &:focus {
      background-color: #e65c2b;
      border-color: #e65c2b;
      color: #ffffff;
    }
  }

  .save-btn[disabled] {
    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    color: #ffffff;
  }
}
