.CompanyDetail {
  padding-bottom: 40px;

  .info-box {
    padding: 12px;
    border-radius: 8px;
    background-color: #fff3e0;
    margin-bottom: 12px;
    font-size: 14px;
    color: #895a18;
  }
  .deny-box {
    padding: 12px;
    border-radius: 8px;
    background-color: #ffebee;
    margin-bottom: 12px;
    font-size: 14px;
    color: #b71c1c;
  }
  .ant-select {
    width: 100%;
    border-radius: 4px;
    .ant-select-selector {
      &:hover {
        border-color: #ff6933 !important;
      }
    }
    &.ant-select-focused {
      .ant-select-selector {
        border-color: #ff6933 !important;
        box-shadow: none !important;
      }
    }
    &.ant-select-disabled {
      .ant-select-selector {
        &:hover {
          border-color: #d9d9d9 !important;
        }
      }
    }
  }
  .ant-input {
    width: 100%;
    border-radius: 8px;
    &:hover {
      border-color: #ff6933 !important;
    }
  }
  .label {
    display: flex;
    gap: 4px;
  }
  .ant-tabs {
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    padding: 0 12px 12px 12px;
    margin-top: 12px;
  }
  .ant-tabs-ink-bar {
    background-color: #f57c00;
  }
  .region-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .postal-code-item {
    padding: 8px 12px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
  }
}
